---

motd_ascii_art: |2-
     _    _  _  ___  ___  ___  _     ___    ___   ___ __  __
    /_\  | \| |/ __|\_ _/| _ )| |   | __|  | _ ) /   \\ \/ /
   / _ \ |  \ |\__ \ | | | _ \| |__ | _|   | _ \| ( ) |>  < 
  /_/ \_\|_|\_||___//___\|___/|____||___|  |___/ \___//_/\_\
  
motd_exclude_disk_space:
  - tmpfs
  - devtmpfs
  - overlay

motd_exclude_interfaces:
  - veth
  - br