# {{ ansible_managed }}

[Unit]
Description=RClone
Documentation=man:rclone(1)
AssertPathIsDirectory=/mnt/{{ rclone.remote }}
After=network-online.target

[Service]
User={{ lookup('env','USER') }}
Group={{ lookup('env','MYGIDNAME') }}
Type=simple
ExecStart=/usr/local/bin/rclone mount \
  --config={{ lookup('env','HOME') }}/.config/rclone/rclone.conf \
  --allow-other \
  --gid {{user.groupid}} \
  --uid {{user.userid}} \
  --allow-non-empty \
  --dir-cache-time=20s \
  --cache-dir={{ lookup('env','HOME') }}/.cache/rclone \
  --vfs-cache-mode full \
  --log-file={{ settings.storage }}/logs/rclone.log \
  --log-level=INFO \
  {{ rclone.remote }}: /mnt/{{ rclone.remote }}
ExecStop=/bin/fusermount -uz /mnt/{{ rclone.remote }}
Restart=always
RestartSec=5

[Install]
WantedBy=default.target